<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="wood_base">
  <link
    name="wood_base">
    <inertial>
      <origin
        xyz="-8.3427E-05 -0.034707 0.10865"
        rpy="0 0 0" />
      <mass
        value="0.23898" />
      <inertia
        ixx="0.00065603"
        ixy="2.4754E-08"
        ixz="1.34950000001516E-13"
        iyy="0.001435"
        iyz="-8.71755988801888E-15"
        izz="0.0020901" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://wood_base/meshes/wood_base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0 1" />
        <texture
          filename="package://wood_base/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://wood_base/meshes/wood_base.STL" />
      </geometry>
    </collision>
  </link>
</robot>