<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="kobuki">
  <link
    name="kobuki">
    <inertial>
      <origin
        xyz="0.00027006 0.0027936 0.04724"
        rpy="0 0 0" />
      <mass
        value="8.4299" />
      <inertia
        ixx="0.070284"
        ixy="8.6852E-06"
        ixz="4.8401E-05"
        iyy="0.066653"
        iyz="0.0012496"
        izz="0.12483" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://kobuki/meshes/kobuki.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.10196 0.10196 0.10196 1" />
        <texture
          filename="package://kobuki/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://kobuki/meshes/kobuki.STL" />
      </geometry>
    </collision>
  </link>
</robot>